@page "/purchase"
@inject NavigationManager Navigation

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Life Time Membership</h1>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./Images/Video_To_MP3.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">All tools only in 15 dollars</h5>
                    <p class="card-text">15$</p>
                    <div>
                        <label for="inputValue">Enter 15 Dollars only:</label>
                        <br />
                        <b> <p>@comment</p> </b>
                        <input id="inputValue" @bind="userInput" />
                    </div>
                    <br />
                    <button @onclick="Submit" class="btn btn-primary">Buy</button>
                </div>

            </div>
        </div>
    </div>
</div>
<br />

@code {
    private string userInput;
    private string comment;

    private void Comment()
    {
        comment = "Incorrect Price!!";
    }

    private void NavigateToBuyPage()
    {
        Navigation.NavigateTo("/Signin");
    }

    private void Submit()
    {
        string fifteenDollars = "15";
        if (userInput == fifteenDollars)
        {
            NavigateToBuyPage();
        }
        else
        {
            Comment();
        }
    }
}
