@page "/ImageView"


<br>

    <div class="container">
        <div class="card" card-1>
            <img class="card-img-top" src="/Images/sami.jpg" alt="Card image cap">
        <div class="card-body">
            <p>
                Convert Your Hd or mp4 or Any video to M
            </p>
        </div>
        </div>
        <div class="card" card-2>
            <!-- Add content for card 2 -->
            <img class="card-img-top" src="/Images/Video_to_mp3_image.png" alt="Card image cap">
        <div class="card-body">
            <p>
                Convert Your Hd or mp4 or Any video to M
            </p>
        </div>
        </div>
        <div class="card" card-3>
            <!-- Add content for card 3 -->
            <img class="card-img-top" src="/Images/Video_Cutter.png" alt="Card image cap">
        <div class="card-body">
            <p>
                Convert Your Hd or mp4 or Any video to M
            </p>
        </div>
        </div>
        <div class="card" card-4>
            <!-- Add content for card 4 -->
            <img class="card-img-top" src="/Images/video_compressor.png" alt="Card image cap">
            <div class="card-body">
            <p>
                Convert Your Hd or mp4 or Any video to M
            </p>
            </div>
        </div>
        <div class="card" card-5>
            <!-- Add content for card 5 -->
            <img class="card-img-top" src="/Images/audioToVideo.png" alt="Card image cap">
        <div class="card-body">
            <p>
                Convert Your Hd or mp4 or Any video to M
            </p>
        </div>
        </div>
        <div class="card" card-6>
            <!-- Add content for card 5 -->
            <img class="card-img-top" src="/Images/audioToVideo.png" alt="Card image cap">
        <div class="card-body">
            <p>
                Convert Your Hd or mp4 or Any video to M
            </p>
        </div>
        </div>
        <div class="card" card-7>
            <!-- Add content for card 5 -->
            <img class="card-img-top" src="/Images/audioToVideo.png" alt="Card image cap">
        <div class="card-body">
            <p>
                Convert Your Hd or mp4 or Any video to M
            </p>
        </div>
          
        </div>

    </div>
