@page "/parentpage"

<h3>Parent Page</h3>

<td><a href="/team" class="nav-link">@stringValue</a></td>
<td>@stringValue</td>


@code {
    private string stringValue = "Hello from Page 1!";


}
