@page "/Signin"
@using Microsoft.AspNetCore.Components.Forms


<br />
<br />
<br />


<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Sign in</h3>

            <EditForm Model="User">
                <div class="mb-3">
                    <label for="Email" class="form-label">Email:</label>
                    <InputText id="Email" @bind-Value="User.Email" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password:</label>
                    <InputText id="Password" type="password" @bind-Value="User.Password" class="form-control" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private SigninModel User = new SigninModel();

    public class SigninModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}
